<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= board.name %></title>
  <style>
    .break {
      page-break-after: always;
    }

    .clear {
      clear: both;
    }

    .element {
      width: 48%;
      margin: 0 1% 1% 0;
      float: left;
      box-sizing: border-box;
      overflow: hidden;
    }

    .relation {
      text-align: center;
      height: 50px;
      padding: 10px 20px;
      font-size: 18px;
      border: 5px dashed #000;
    }

    .item {
      height: 250px;
      padding: 20px;
      border: 5px solid #000;
    }
  </style>
</head>
<body>
  <% let e = 0; %>

  <% for (let i = 0; i < relations.length; i++) { %>
    <% if (e > 20 && i % 2 === 0) { %>
      <div class="break"></div>
      <% e = 0%>
    <% } %>
    <div class="element relation"><%= relations[i].name %></div>
    <% e++ %>
  <% } %>

  <% e+= 2 %>
  <div class="clear"></div>

  <% for (let i = 0; i < items.length; i++) { %>
    <% if (e > 20 && i % 2 === 0) { %>
      <div class="clear break"></div>
      <% e = 0%>
    <% } %>
    <div class="element item"><%= items[i].name %></div>
    <% e += 5 %>
  <% } %>
</body>
</html>